html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #212529;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 17px 48px;
    justify-content: space-between;
    align-items: center;
}

.logo:hover {
    transition: all 0.5s;
    transform: scale(1.1)
}

.nav {
    display: flex;
    flex-direction: row
}

.nav_item {
    padding: 10px 12.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    color: #FFF;
    text-transform: capitalize;
}

.nav_item:hover {
    transition: all 0.5s;
    color: #FFB742;
}

.btn {
    width: 121px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    background-color: #FFB742;
    color: #212529;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-transform: capitalize;
    transition: all .5s;
}

.btn:hover {
    transform: scale(1.1)
}

.hero {
    width: 80%;
    margin: 0 auto;
    margin-top: 106px;
    text-align: center;
    color: #FFF;
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
}

.hero :nth-child(1) {
    font-weight: 700;
    font-size: 3.2rem;
}

.hero>div>a {
    color: #FFB742;
    text-decoration: underline;
}

.hero :nth-child(2) {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 90px;
}

.hero :nth-child(3) {
    font-weight: 400;
    font-size: 2.4rem;
    margin-top: 25px;
    line-height: 50px;
}

.hero>img {
    margin-top: 22px;
}

.cards {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 136px;
}

.card {
    width: 30%;
    min-width: 416px;
    height: 120px;
    background-color: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px 30px;
    transition: all .8s;
    filter: drop-shadow(10px 10px 51px rgba(0, 0, 0, 0.25));
}

.cards :nth-child(2) {
    margin: 0 24px;
}

.card_text {
    text-align: center;
}

.card_text :nth-child(1) {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    color: #FFB742;
    line-height: 40px;
}

.card_text :nth-child(2) {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: #FFF;
    line-height: 31px;
}

.card:hover {
    background-color: #FFB742;
    cursor: url(../img/cursor.svg) 4 12, auto;
}

.card:hover .card_text>div {
    color: black;
}

.card:hover svg>path {
    fill: black;
}

.info {
    margin: 0 auto;
    margin-top: 137px;
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info img {
    width: 50%;
    height: 596px;
}

.about {
    width: 45%;
    height: 396px;
    margin-left: 40px;
}

.title {
    width: 148px;
    height: 42px;
    border-radius: 21px;
    background-color: rgba(56, 62, 69, 0.44);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #FFB742;
    margin-left: -10px;
}

.head1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.8rem;
    color: #FFF;
    margin-top: 10px;
    text-transform: capitalize;
}

.about :nth-child(3) {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #D4D4D4;
    margin-top: 28px;
    line-height: 30px;
    margin-bottom: 55px;
}

.portfolio {
    width: 86%;
    margin: 0 auto;
    margin-top: 65px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inset {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 18px;
}

.inset_item {
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #FFF;
    text-transform: capitalize;
    transition: all .8s;
}

.inset :nth-child(2) {
    margin-left: 24px;
    margin-right: 12px;
}

.inset :nth-child(3) {
    margin-left: 12px;
    margin-right: 24px;
}

.inset_item:hover {
    background-color: #FFB742;
    color: black;
}

.works {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
}

.works img {
    width: 31.5%;
}

.box :nth-child(5) {
    margin-bottom: 116px;
}

.footer {
    height: 470px;
    background-color: #1C1C1C;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 148px 50px 90px 50px;
    justify-content: space-between;
}

.footer_col1 {
    width: 17.5%;
}

.footer_col2 .footer_col3 {
    width: 10%;
}

.footer_col4 {
    width: 22.5%;
}

.footer_col1_name {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    color: #FFB742;
    text-transform: capitalize;
    margin-bottom: 30px;
    line-height: 100%;
}

.footer_col1_text {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: #D4D4D4;
}

.footer_col_title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: #F5FBF2;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.footer_col_links {
    display: flex;
    flex-direction: column;
}

.footer_col_links li {
    margin-bottom: 18px;
}

.footer_col_item {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7B7B7B;
    text-transform: capitalize;
}

.footer_col4 :nth-child(2) {
    text-transform: none;
}

.footer_col_links li:active a{
    transition: all .4s;
    font-size: 2.4rem;
    color: #FFB742;
}