body {
    background-color: #E5E5E5;
}

.main {
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.gradient {
    background: linear-gradient(#2137FC, #FFCE22);
    width: 512px;
    height: 512px;
    margin: 25px;
    text-align: center;
}

.gradient3 {
    text-align: right;
}

.gradient4 {
    text-align: left;
}

.square {
    background: linear-gradient(#2137FC 50%, #FFCE22 50%);
    width: 512px;
    height: 512px;
    margin: 25px;
    text-align: center;
}

.square3 {
    text-align: left;
}

.square4 {
    text-align: right;
}

.circle__box {
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 512px;
    height: 512px;
    margin: 25px;
}

.circle {
    background: linear-gradient(#2137FC 50%, #FFCE22 50%);
    width: 444px;
    height: 444px;
    margin: 34px;
    text-align: center;
    border-radius: 50%;
}

.empty{
    width: 512px;
    height: 512px;
    margin: 25px;
}

.diya__box{
    display: flex;
    flex-direction: row;
}

.box__diya {
    background-color: black;
    width: 512px;
    height: 512px;
    margin: 25px;
    text-align: center;
}

.glyph {
    margin-top: 144px;
}

.petcube {
    margin-top: 59px;
}

.plane {
    margin-top: 128px;
}

.diya {
    margin-top: 159px;
}

.glyph3 {
    margin-top: 228px;
    width: 359px;
}

.petcube3 {
    margin-top: 62px;
    width: 278px;
}

.plane3 {
    margin-top: 62px;
    width: 281px;
}

.diya3 {
    margin-top: 125px;
}

.diya4 {
    margin-top: 128px;
}

.flag{
    width: 80px;
    height: 60px;
    margin-top: 30px;
}

.diya5 {
    margin: 45px 0 0 101px;
}

.box__diya2{
    text-align: left;
}

.flag2{
    margin: 23px 0 0 21px;
}

.flag3 {
    margin: 23px 0 0 310px;
}