html {
    font-size: 10px;
}

body {
    background-color: #E5E5E5;
    margin: 0%;
}

p {
    margin: 0%;
}

label,
select,
.input_box {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
}

label {
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: #171717;
    margin-top: 24px;
    line-height: 22px;
}

select,
.input_box {
    border: 1px solid #ADADAD;
    padding-left: 10px;
    margin: 8px 0 25px;
}

select {
    padding-left: 8px;
}

option,
select,
input {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #171717;
}

.form {
    min-width: 700px;
    max-width: 1000px;
    background-color: #F9F9F9;
    padding: 64px 43px;
    margin: 0 auto;
    margin-top: 40px;
}

.head1 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    color: #171717;
}

.star {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #171717;
    margin-top: 79px;
}

.red {
    color: #D83933;
}

.head2 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 2.0rem;
    color: #171717;
    margin-top: 24px;
}

.info {
    border-bottom: 1px solid #D1D1D1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-bottom: 27px;
}

.app_reg {
    background-image: url('../img/Group.svg');
    background-repeat: no-repeat;
    background-position: right;
    color: #0050D8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.label_check {
    font-weight: 400;
}

.col1,
.col2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.col2 {
    margin-left: 32px;
}

.empty {
    height: 126px;
}

.div_check {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.div_check_2 {
    margin-left: 8px;
}

.yes_no {
    margin-top: 37px;
}

.input_box {
    padding-left: 10px;
}

.input_check {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin: 0%;
}

.input_ini {
    background-color: #EFEFEF;
    color: #747474;
}

.parent {
    margin-bottom: 0%;
}

.mater_check {
    margin-top: 25px;
}

.text1 {
    background-image: url('../img/Group.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.search1 {
    background-image: url('../img/search-line.svg');
    background-repeat: no-repeat;
    background-position: 98%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.input_margin_bottom {
    margin-bottom: 0;
}

.text_blue {
    color: #0050D8;
}

.bttn {
    display: flex;
    justify-content: right;
}

.btn {
    background-color: #0050D8;
    color: #FFF;
    width: 69px;
    height: 40px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 4px;
    border: none;
}