html {
    font-size: 11px;
}

body {
    margin: 0;
}

.back_screen {
    background-color: white;
    z-index: 999;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header>div {
    height: 129px;
}

main {
    padding-top: 100px;
}

.header {
    height: 129px;
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.logo {
    height: 100%;
}

.icon_nav {
    display: none;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav_item>a {
    padding: 10px 20px;
    color: #FFFCFC;
}

.nav_item {
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
}

.gallery {
    display: grid;
    grid: repeat(2, 1fr) / repeat(4, 1fr);
    column-gap: 1vw;
    row-gap: 4vh;
    align-items: center;
    justify-items: center;
    width: 100%;
}

.photo_1 {
    grid-column: 1/2;
    grid-row: 1/3;
    animation: photo_1_3_4 2s linear;
    width: 90%;
}

.photo_3 {
    grid-column: 2/3;
    grid-row: 1/2;
    animation: photo_1_3_4 1.5s linear;
    width: 90%;
}

.photo_4 {
    grid-column: 2/3;
    grid-row: 2/3;
    animation: photo_1_3_4 1.5s linear;
    width: 90%;
    height: 100%;
}

.photo_5 {
    grid-column: 3/4;
    grid-row: 1/2;
    animation: photo_2_5_6 1.5s linear;
    width: 90%;
}

.photo_6 {
    grid-column: 3/4;
    grid-row: 2/3;
    animation: photo_2_5_6 1.5s linear;
    width: 90%;
    height: 100%;
}

.photo_2 {
    grid-column: 4/5;
    grid-row: 1/3;
    animation: photo_2_5_6 2s linear;
    width: 90%;
}

@keyframes photo_1_3_4 {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes photo_1_768 {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes photo_2_5_6 {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

.services {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    overflow: hidden;
}

.services div {
    align-items: center;
}

.ser_vices {
    display: grid;
    grid: repeat(2, 50%) / repeat(2, 50%);
    width: 50%;
    animation: ser_vices 8s linear infinite;
    box-sizing: border-box;
    padding: 3% 3%;
    overflow: hidden;
    margin-top: 50px;
}

.ser_vices>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ser_vices div>div {
    margin-top: 12px;
    margin-bottom: 39px;
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 4rem;
    color: black;
}

.ser_back {
    z-index: 99;
}

.ser_vices div>img {
    width: 70%;
    margin-top: 13px;
}

.ser_1 {
    animation: ser_1 8s linear infinite;
}

.ser_2 {
    animation: ser_2 8s linear infinite;
}

.ser_3 {
    animation: ser_3 8s linear infinite;
}

.ser_4 {
    animation: ser_4 8s linear infinite;
}

.ser_back {
    width: 50%;
    align-content: flex-end;
}

.ser_back>img {
    width: 100%;
}

@keyframes ser_vices {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes ser_1 {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }

}

@keyframes ser_2 {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }

}

@keyframes ser_3 {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }

}

@keyframes ser_4 {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }

}

.head1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size: 8rem;
    color: black;
    height: 177px;
    margin-top: 12px;
    margin-bottom: 51px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20vw;
    height: 33.85vw;
    background: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    background-position: 41%;
    background-blend-mode: color-dodge;
    border-radius: 40px;
    overflow: hidden;
    filter: brightness(.5);
    transition: all 1s;
    background-size: cover;
    margin: 0 10px;
}

.card_1 {
    background-image: url(../img/meredith.png);
}

.card_2 {
    background-image: url(../img/jason.png);
}

.card_3 {
    background-image: url(../img/ryan.png);
}

.card_4 {
    background-image: url(../img/james.png);
}

.card_name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(163, 83, 10, 0.7);
    width: 100%;
    height: 150px;
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 4rem;
    color: #FFFAFA;
    opacity: 0;
    transition: all 1s;
}

.card_1:hover .meredith {
    opacity: 1;
}

.card_2:hover .jason {
    opacity: 1;
}

.card_3:hover .ryan {
    opacity: 1;
}

.card_4:hover .james {
    opacity: 1;
}

.card:hover {
    filter: brightness(1);
}

.fmc {
    display: flex;
    flex-direction: column;
}

.form_and_map {
    margin: 50px auto 95px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.con_map {
    width: 40%;
}

.con_map>iframe {
    width: 100%;
}

.con_form {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form_head {
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
}

.form_div {
    box-sizing: border-box;
    padding: 30px;
    height: 400px;
    background-color: #E5E5E5;
}

.form_form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
}

.form_row {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    justify-content: space-between;
}

.form_row_name {
    width: 40%;
}

.form_row_email {
    width: 55%;
}

.form_area {
    width: 100%;
    margin-top: 20px;
}

.form_text {
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: left;
}

.contacts {
    display: flex;
    margin: 0 auto 50px;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38%;
}

.headq {
    display: flex;
    flex-direction: row;
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 34%;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
}

.cont_text {
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}

.cont_text_italic {
    font-family: 'Rosario', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 2.5rem;
    color: black;
    text-align: left;
}

.schedule_head {
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: black;
    margin-bottom: 1vh;
}

.social_align {
    text-align: left;
}

@media (max-width: 767.9999px) {
    .header {
        justify-content: space-between;
        margin-bottom: 50px;
        width: 100vw;
    }

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
    }

    .logo_img {
        height: 100%;
    }

    .header_nav {
        display: flex;
        flex-direction: column;
        padding-right: 30px;
    }

    .icon_nav {
        position: fixed;
        top: 35px;
        right: 5vw;
        height: 60px;
        width: 60px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        z-index: 1000;
    }

    .nav {
        align-items: center;
        display: none;
        height: 60vh;
        width: 40vw;
        flex-direction: column;
        position: fixed;
        top: 129px;
        right: 0;
        background-color: black;
    }

    .nav_item>a {
        padding: 2px 5px;
        color: white;
    }

    .nav_item {
        font-size: 1.8rem;
        margin-top: 5px;
    }

    .icon_nav:hover + .nav {
        display: flex;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .photo_1,
    .photo_3,
    .photo_5,
    .photo_2,
    .photo_4,
    .photo_6 {
        align-self: center;
        animation: none;
        width: 70%;
    }

    .photo_1_768 {
        animation: photo_1_768 2s linear;
    }

    .photo_3_768 {
        animation: photo_3_768 2s linear;
    }

    .photo_4_768 {
        animation: photo_4_768 2s linear;
    }

    .photo_5_768 {
        animation: photo_5_768 2s linear;
    }

    .photo_6_768 {
        animation: photo_6_768 2s linear;
    }

    .photo_2_768 {
        animation: photo_2_768 2s linear;
    }

    .services {
        flex-direction: column;
        margin-top: 50px;
        padding-bottom: 30px;
    }

    .ser_back {
        display: none;
    }

    .ser_vices {
        align-self: center;
        width: 95%;
        margin-top: 50px;
    }

    .ser_vices div>div {
        font-size: 1.8rem;
    }

    .head1 {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 20px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .card {
        width: 70%;
        height: 90vh;
        margin-bottom: 50px;
        filter: brightness(1);
    }

    .card_1:active .meredith {
        opacity: 1;
    }

    .card_2:active .jason {
        opacity: 1;
    }

    .card_3:active .ryan {
        opacity: 1;
    }

    .card_4:active .james {
        opacity: 1;
    }

    .form_and_map {
        flex-direction: column;
        width: 90%;
        margin-top: 50px;
    }

    .con_form {
        width: 100%;
    }

    .con_map {
        width: 100%;
        margin-top: 50px;
    }

    .form_head {
        margin-bottom: 50px;
    }

    .contacts {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }

    .cont {
        width: 95%;
        margin-bottom: 50px;
        align-items: center;
    }

    .cont_text {
        text-align: center;
    }

    .schedule {
        width: 95%;
        margin-bottom: 50px;
        text-align: center;
    }

    .social {
        width: 95%;
        margin-bottom: 10px;
    }
}

@keyframes photo_1_768 {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes photo_3_768 {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes photo_4_768 {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes photo_5_768 {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes photo_6_768 {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes photo_2_768 {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {
    .header {
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 50px;
        width: 100vw;
    }

    .logo {
        height: 50%;
    }

    .logo_img {
        height: 100%;
        margin-top: 5px;
    }

    .nav {
        display: flex;
        height: 60%;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 5px;
        width: 100%;
    }

    .nav_item>a {
        padding: 2px 5px;
    }

    .nav_item {
        font-size: 2.2rem;
        margin-top: 5px;
    }

    .gallery {
        grid-template-rows: 1.8fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 3vh;
        row-gap: 7vh;
    }

    .photo_1,
    .photo_3,
    .photo_5,
    .photo_2,
    .photo_4,
    .photo_6 {
        width: 90%;
    }

    .photo_1 {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
        animation: photo_1_3_5_998 1.5s linear;
    }

    .photo_2 {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: center;
        animation: photo_2_4_6_998 1.5s linear;
    }

    .photo_3 {
        grid-column: 1/2;
        grid-row: 2/3;
        justify-self: center;
        animation: photo_1_3_5_998 1.5s linear;
    }

    .photo_4 {
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: center;
        animation: photo_2_4_6_998 1.5s linear;
        height: 100%;
    }

    .photo_5 {
        grid-column: 1/2;
        grid-row: 3/4;
        animation: photo_1_3_5_998 1.5s linear;
        justify-self: center;
    }

    .photo_6 {
        grid-column: 2/3;
        grid-row: 3/4;
        justify-self: center;
        animation: photo_2_4_6_998 1.5s linear;
        height: 100%;
    }

    .services {
        flex-direction: column-reverse;
        margin-top: 100px;
    }

    .ser_back {
        width: 100%;
        margin-bottom: 30px;
    }

    .ser_vices {
        align-self: center;
        width: 95%;
    }

    .ser_vices div>div {
        font-size: 3rem;
    }

    .head1 {
        font-size: 5rem;
        text-align: center;
        margin-bottom: 20px;
    }

    .cards {
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 50px;
    }

    .card {
        width: 40%;
        height: 65vh;
        margin-bottom: 50px;
        filter: brightness(1);
    }

    .fmc {
        flex-direction: column-reverse;
    }

    .form_and_map {
        flex-direction: column-reverse;
        width: 90%;
        margin-top: 50px;
    }

    .con_form {
        width: 100%;
        margin-top: 30px;
    }

    .con_map {
        width: 100%;
    }

    .form_head {
        margin-bottom: 50px;
    }

    .contacts {
        flex-direction: column;
        width: 90%;
        align-items: center;
    }

    .cont {
        width: 95%;
        margin-bottom: 50px;
        align-items: center;
    }

    .schedule {
        width: 95%;
        margin-bottom: 50px;
    }

    .social {
        width: 95%;
        margin-bottom: 10px;
    }
}

@keyframes photo_1_3_5_998 {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@keyframes photo_2_4_6_998 {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0vw);
    }
}

@media (min-width: 1620px) {
    body {
        background-color: #E5E5E5;
    }

    .back_screen {
        width: 90%;
        margin: 0 auto;
    }

    .form_and_map {
        width: 90%;
    }
}

@media (min-width: 1355px) and (max-width: 1619.999px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1089.999px) {
    html {
        font-size: 7px;
    }
}

@media (min-width: 1090px) and (max-width: 1354.999px) {
    html {
        font-size: 8px;
    }
}

@media (min-width: 320px) and (max-width: 419.99px) {
    
.card {
    height: 45vh;
}
}

@media (min-width: 420px) and (max-width: 519.99px) {

    .card {
        height: 65vh;
    }
}

@media (min-width: 520px) and (max-width: 619.99px) {

    .card {
        height: 80vh;
    }
}