body {
    font-family: 'M PLUS 1p', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    min-height: 50px;
    max-height: 110px;
    box-sizing: border-box;
    text-align: center;
    padding: 30px 0;
    text-transform: uppercase;
    font-size: 48px;
    color: #3E45E8;
    font-weight: 400;
}

.header__span {
    color: #E8C23E;
}

.box {
    background-image: url(../img/image_box.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 803px;
    box-sizing: border-box;
    padding-left: 80px;
    padding-top: 252px;
}

.box__text {
    background-image: url(../img/flag.png);
    background-repeat: no-repeat;
    height: 272px;
    padding-left: 38px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box__text>p {
    margin: 0;
}

.main {
    box-sizing: border-box;
    padding: 0 80px;
}

.h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 72px 0;
}

.line1 {
    border-bottom: 5px solid #3E45E8;
    width: 560px;
}

.card {
    border-radius: 30px;
    width: 30%;
    background-color: #FFFFFF;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
}

.card>div>a {
    text-decoration: none;
    color: #1E8DF2;
}

.card2 {
    margin: 0 4.5%;
}

.card__image {
    width: 100%;
}

.card__title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 5px;
    box-sizing: border-box;
}

.card__subtitle {
    color: #E8C23E;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 5px 50px 5px;
    box-sizing: border-box;
}

.card__subtitle23 {
    padding-bottom: 72px;
}

.h2 {
    text-align: center;
}

.line2 {
    border-bottom: 5px solid #3E45E8;
    width: 400px;
    margin: 21px auto;
}

.ukraine {
    text-align: center;
    margin: 20px auto;
}

.button {
    width: 591px;
    height: 121px;
    background-color: #2A61F0;
    color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 64px;
    margin: 21px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 320px;
    background-color: #2F4A4B;
    display: flex;
    flex-direction: column;
    align-items: center
}

.footer__title {

    text-transform: uppercase;
    font-size: 48px;
    color: #3E45E8;
    font-weight: 400;
}

.mail {
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
    font-size: 36px;
    color: #A89D9D;
    width: 580px;
    height: 45px;
    margin: 15px;
}

.tel {
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
    font-size: 36px;
    color: #A89D9D;
    width: 295px;
    height: 46px;
    margin: 15px;
}

.social{
    display: flex;
    flex-direction: row;
}

.social{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.social>a{
    margin: 0 10px;
}