.title{
    font-family: 'Roboto',
    sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0 10px 0;
}

.img{
    width: 100%;
}

.image_center {
    width: 70%;
    margin: 0 auto;
}

.img__screenshot{
    width: 35%;
}

.img__circular{
    width: 15%;
}

.title__img{
    font-family: 'Open Sans',
    sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0;
}

.center__img{
    text-align: center;
}

.right__img {
    text-align: right;
}