body{
    background-color: #E5E5E5;
    margin: 0%;
}

a {
    text-decoration: none;
}

ul {
    margin: 0%;
    padding: 0%;
}

li {
    list-style: none;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #202846;
    align-items: center;
    height: 90px;
    box-sizing: border-box;
    padding-left: 138px;
    padding-right: 63px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFF;
    justify-content: space-between;
}

.header ul {
    height: 60px;
}

.header ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
}

.logo {
    height: 70px;

}

.menu {
    display: flex;
    flex-direction: row;
}

.menu__item {
    border-right: 2px solid #FFF;
}

.menu__item img {
    margin-right: 10px;
}

.cabinet {
    width: 112px;
    text-align: center;
}

.lang {
    border: none;
    height: 60px;
}

.menu__item__link {
    height: 60px;
}

.menu__item>a {
    color: #FFF;
}

.lang__icon {
    height: 60px;
}

.title {
    height: 140px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 48px;
    font-style: italic;
    color: #202846;
    background-color: #C6C6DC;
    padding-left: 227px;
    display: flex;
    align-items: center;
}

.main{
    width: 1400px;
    margin: 150px auto;
    box-sizing: border-box;
}

.card{
    background-color: #BDBDC6;
    height: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 28px 50px;
    justify-content: space-around;
    position: relative;
    margin-top: 35px;
}

.card__box1{
    width: 40%;
    height: 244px;
}

.card__img{
    width: 485px;
}

.card__box2{
    width: 50%;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__name{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    font-style: italic;
    color: #353C57;
    border-bottom: 3px solid #FFF;
    margin: 0 0 10px 0;
    height: 40px;
}

.card__text{
    background-color: #D7D7DD;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #202846;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    height: 184px;
    display: flex;
    align-items: center;
}

.star{
    position: absolute;
    top: 17px;
    right: 17px;
}

.star>svg>path:hover{
    fill: green;
}

.button__link{
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #202846;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF;
    position: absolute;
    bottom: 10px;
    right: -80px;
}

.button__link:hover{
    transform: scale(1.1);
}

.return__back{
    position: fixed;
    bottom: 60px;
    right: 40px;
}

.return__back:hover{
    transform: scale(0.9);
}

.footer{
    height: 90px;
    background-color: #202846;
    display: flex;
    align-items: center;
    padding-left: 120px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    font-style: italic;
    color: #EEECF1;
}